{
  "root": true,
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "ignore"
     }],
    "consistent-return": 0,
    "default-case": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "no-continue": 0,
    "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"],
    "no-unused-expressions": 0,
    "no-param-reassign": 0,
    "no-restricted-globals": 0,
    "no-underscore-dangle": ["off"],
    "no-else-return": 0,
    "no-empty-label": 0,
    "no-extra-strict": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "no-var": 0,
    "no-wrap-func": 0,
    "no-useless-escape": 0,
    "operator-linebreak": ["error", "after"],
    "prefer-destructuring": 0,
    "prefer-promise-reject-errors": 0,
    "prefer-rest-params": 0,
    "prefer-spread": 0,
    "prefer-template": 0,
    "space-return-throw-case": 0,
    "strict": 0,
    "vars-on-top": 0
  }
}
